/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #1d3557;
  --secondary-color: #f1faee;
  --gray-color: #4b5563;
  --light-gray-color: #f3f4f6;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  width: 90vw;
  margin: auto;
}

.nav-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.8rem;
  border-bottom-left-radius: 1rem;
}

.nav-brand-logo-text {
  font-family: 'Yellowtail', cursive;
}

.nav-list {
  text-align: right;
  list-style: none;
}

.nav-list-item {
  display: inline;
}

.nav-link {
  text-decoration: none;
  padding: 0 1rem;
  color: var(--secondary-color);
}

.active {
  font-weight: bold;
}

.header-container {
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  width: 85vw;
  margin: auto;
}

.image {
  max-width: 500px;
  margin-bottom: 2rem;
}

.header-content {
  max-width: 500px;
  margin-bottom: 2rem;
}

.header-content > h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.header-content > p {
  font-size: 1.5rem;
  color: var(--gray-color);
}

.more-info {
  padding: 4rem 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 85vw;
  margin: auto;
}

.more-info-content {
  max-width: 500px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.more-info-content > h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.more-info-content > p {
  font-size: 1.2rem;
  color: var(--gray-color);
}
.more-info-content > ul {
  list-style: none;
}

.more-info-content > ul > li {
  font-size: 1rem;
  color: var(--gray-color);
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.container {
  width: 85vw;
  margin: auto;
  text-align: center;
  padding: 2rem;
  margin: 3rem 0;
}
.container > h2 {
  margin-bottom: 1rem;
}

.container > p {
  margin-bottom: 2rem;
  font-weight: normal;
  color: black;
}

.container-link {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.container-link-off {
  background-color: var(--light-gray-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.container-off {
  background-color: var(--light-gray-color);
  border-radius: 0.5rem;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
