@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #1d3557;
  --secondary-color: #f1faee;
  --gray-color: #4b5563;
  --light-gray-color: #f3f4f6;
}

body {
  font-family: 'Comfortaa', cursive;
  width: 90vw;
  margin: auto;
}

.nav-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.8rem;
  border-bottom-left-radius: 1rem;
}

.nav-brand-logo-text {
  font-family: 'Yellowtail', cursive;
}

.nav-list {
  text-align: right;
  list-style: none;
}

.list-item {
  display: inline;
}

.nav-link {
  text-decoration: none;
  padding: 0 1rem;
  color: var(--secondary-color);
}

.nav-brand-logo-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.active {
  font-weight: bold;
}

.header-container {
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  width: 80vw;
  margin: auto;
}

.image {
  max-width: 400px;
  margin-bottom: 2rem;
}

.header-content {
  max-width: 400px;
  margin-bottom: 2rem;
}

.header-content > h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.header-content > p {
  font-size: 1.5rem;
  color: var(--gray-color);
}

.more-info {
  padding: 4rem 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 80vw;
  margin: auto;
  background-color: var(--light-gray-color);
  border-radius: 1rem;
}

.more-info-content {
  max-width: 400px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.more-info-content > h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.more-info-content > p {
  font-size: 1.2rem;
  color: var(--gray-color);
}
.list {
  list-style: none;
}

.more-info-content > ul > li {
  font-size: 1rem;
  color: var(--gray-color);
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.container {
  width: 80vw;
  margin: auto;
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.container > h2 {
  margin-bottom: 1rem;
}

.container > p {
  margin-bottom: 2rem;
  font-weight: normal;
  color: black;
}

.container-link {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.container-link-off {
  background-color: var(--light-gray-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.container-off {
  background-color: var(--light-gray-color);
  border-radius: 0.5rem;
}

.footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  border-top-right-radius: 1rem;
  width: 90vw;
  margin: auto;
}

.footer-start {
  padding: 0.5rem;
}

.footer-list {
  padding: 0.5rem;
}

.footer-list > li {
  padding: 0 1rem;
}

.footer-icon-link {
  text-decoration: none;
  color: var(--secondary-color);
}
.footer-icon-link > i {
  font-size: 1.2rem;
}

.footer-end {
  padding: 0.5rem;
}

.project-header {
  width: 80vw;
  margin: auto;
}

.image-header {
  max-width: 500px;
  margin: auto;
  width: 100%;
  display: block;
  padding: 3rem 0;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: 90vw;
  }

  .image {
    max-width: 200px;
    margin-bottom: 1rem;
  }

  .header-content > h1 {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }

  .header-content > p {
    font-size: 1rem;
  }

  .more-info-content > h1 {
    font-size: 1.4rem;
  }

  .more-info-content > p {
    font-size: 0.8rem;
  }

  .more-info-content > ul > li {
    font-size: 0.8rem;
  }

  .more-info-content > h3 {
    font-size: 1rem;
  }

  .container {
    width: 80vw;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .container h2 {
    font-size: 1.2rem;
  }

  .container p {
    font-size: 0.8rem;
  }

  .container-link {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .footer {
    padding: 0.4rem;
    width: 90vw;
  }

  .footer-icon-link > i {
    font-size: 0.9rem;
  }

  .footer-start {
    padding: 0.3rem;
    font-size: 1rem;
  }
  .footer-end {
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}
