@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #1d3557;
  --secondary-color: #f1faee;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 90vw;
  margin: auto;
}

.nav-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.8rem;
  border-bottom-left-radius: 1rem;
}

.nav-brand-logo-text {
  font-family: 'Yellowtail', cursive;
}

.nav-list {
  text-align: right;
  list-style: none;
}

.nav-list-item {
  display: inline;
}

.nav-link {
  text-decoration: none;
  padding: 1rem 1rem;
  color: var(--secondary-color);
}

.active {
  font-weight: bold;
}

.header-container {
  padding: 4rem 1rem;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-header-right {
  max-width: 400px;
}

.main-header-left {
  max-width: 500px;
  margin-bottom: 3rem;
}

.main-header-left > h1 {
  font-size: 3rem;
}

.main-header-left > p {
  font-size: 1.5rem;
  color: #6b7280;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
